streamlit
pydantic
requests
python-dotenv
langchain
langchain-core
langgraph
langchain-groq
groq
langchain-text-splitters
langchain-community
langchain-huggingface
sentence-transformers
langgraph-checkpoint-sqlite